{% extends "base.html" %}
{% block content %}
<div class="row">
 <div class="col-sm-6 col-md-4">
  <div class="thumbnail">
   <img src="/static/img/players/palkao.jpg" alt="...">
   <div class="caption">
    <h3>JISUNG AHN</h3>
    <p>No. 10</p>
    <p>Foward</p>
    <p>180cm / 67kg</p>
    <p>1985.09.12.</p>
    <p>
     <a href="#" class="btn btn-primary" role="button">Button</a> <a
     href="#" class="btn btn-default" role="button">Button</a>
   </p>
 </div>
</div>
</div>

<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
   <img src="/static/img/players/nani.jpg" alt="...">
   <div class="caption">
    <h3>JISUNG AHN</h3>
    <p>No. 10</p>
    <p>Foward</p>
    <p>180cm / 67kg</p>
    <p>1985.09.12.</p>
    <p>
     <a href="#" class="btn btn-primary" role="button">Button</a> <a
     href="#" class="btn btn-default" role="button">Button</a>
   </p>
 </div>
</div>
</div>

<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
   <img src="/static/img/players/dehea.jpg" alt="...">
   <div class="caption">
    <h3>JISUNG AHN</h3>
    <p>No. 10</p>
    <p>Foward</p>
    <p>180cm / 67kg</p>
    <p>1985.09.12.</p>
    <p>
     <a href="#" class="btn btn-primary" role="button">Button</a> <a
     href="#" class="btn btn-default" role="button">Button</a>
   </p>
 </div>
</div>
</div>
</div>

<div class="row">
 <div class="col-sm-6 col-md-4">
  <div class="thumbnail">
   <img src="/static/img/players/palkao.jpg" alt="...">
   <div class="caption">
    <h3>JISUNG AHN</h3>
    <p>No. 10</p>
    <p>Foward</p>
    <p>180cm / 67kg</p>
    <p>1985.09.12.</p>
    <p>
     <a href="#" class="btn btn-primary" role="button">Button</a> <a
     href="#" class="btn btn-default" role="button">Button</a>
   </p>
 </div>
</div>
</div>

</div>
{% endblock %}