{% extends "base.html" %}
{% block content %}

<!-- Team Picture Introduction -->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <img src="static/img/fckmb2015-team.jpg"  />
    </div>
</div>

<!-- Team Members Row -->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <h1 class="page-header">Players
            <small>2015 Season</small>

            <div class="btn-group pull-right" role="group" aria-label="position">
                <button type="button" class="btn btn-default">All</button>
                <button type="button" class="btn btn-default">GK</button>
                <button type="button" class="btn btn-default">DF</button>
                <button type="button" class="btn btn-default">MF</button>
                <button type="button" class="btn btn-default">FW</button>
            </div>
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="service-wrapper">
            <img src="static/img/players/dehea.jpg" alt="player_00">
            <h3>JISUNG PARK</h3>
            <h4>11 • FW</h4>
            <a target="_blank" href="https://www.facebook.com/jisang.kim.90">
                <i class="fa fa-facebook-official fa-2x"></i>
            </a>
            <a target="_blank" href="https://www.facebook.com/jisang.kim.90">
              <i class="fa fa-instagram fa-2x"></i>
          </a>
          <a data-toggle="collapse" href="#collapseExample_00" aria-expanded="false" aria-controls="collapseExample_00">
              <i class="fa fa-plus-square fa-2x"></i>
          </a>
          <div class="collapse" id="collapseExample_00">
              <div class="well">
                <p>4 Match / 2 Goal / 3 Assist / 1 MVP</p>
                <p>Birth : 1985.7.7</p>
            </div>
        </div>
    </div>
</div>

    <div class="col-md-4 col-sm-6">
        <div class="service-wrapper">
            <img src="static/img/players/dehea.jpg" alt="player_00">
            <h3>JISUNG PARK</h3>
            <h4>11 • FW</h4>
            <a href="https://www.facebook.com/jisang.kim.90">
                <i class="fa fa-facebook-official fa-2x"></i>
            </a>
            <a href="https://www.facebook.com/jisang.kim.90">
              <i class="fa fa-instagram fa-2x"></i>
          </a>
          <a data-toggle="collapse" href="#collapseExample_01" aria-expanded="false" aria-controls="collapseExample_01">
              <i class="fa fa-plus-square fa-2x"></i>
          </a>
          <div class="collapse" id="collapseExample_01">
              <div class="well">
                <p>4 Match / 2 Goal / 3 Assist / 1 MVP</p>
                <p>Birth : 1985.7.7</p>
            </div>
        </div>
    </div>
</div>    <div class="col-md-4 col-sm-6">
        <div class="service-wrapper">
            <img src="static/img/players/dehea.jpg" alt="player_00">
            <h3>JISUNG PARK</h3>
            <h4>11 • FW</h4>
            <a href="https://www.facebook.com/jisang.kim.90">
                <i class="fa fa-facebook-official fa-2x"></i>
            </a>
            <a href="https://www.facebook.com/jisang.kim.90">
              <i class="fa fa-instagram fa-2x"></i>
          </a>
          <a data-toggle="collapse" href="#collapseExample_02" aria-expanded="false" aria-controls="collapseExample_02">
              <i class="fa fa-plus-square fa-2x"></i>
          </a>
          <div class="collapse" id="collapseExample_02">
              <div class="well">
                <p>4 Match / 2 Goal / 3 Assist / 1 MVP</p>
                <p>Birth : 1985.7.7</p>
            </div>
        </div>
    </div>
</div>    <div class="col-md-4 col-sm-6">
        <div class="service-wrapper">
            <img src="static/img/players/dehea.jpg" alt="player_00">
            <h3>JISUNG PARK</h3>
            <h4>11 • FW</h4>
            <a href="https://www.facebook.com/jisang.kim.90">
                <i class="fa fa-facebook-official fa-2x"></i>
            </a>
            <a href="https://www.facebook.com/jisang.kim.90">
              <i class="fa fa-instagram fa-2x"></i>
          </a>
          <a data-toggle="collapse" href="#collapseExample_03" aria-expanded="false" aria-controls="collapseExample_03">
              <i class="fa fa-plus-square fa-2x"></i>
          </a>
          <div class="collapse" id="collapseExample_03">
              <div class="well">
                <p>4 Match / 2 Goal / 3 Assist / 1 MVP</p>
                <p>Birth : 1985.7.7</p>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}