{% extends "base.html" %}
{% block content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="page-header">
        <h1>Portfolio</h1>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span12">
		  <img src="http://placehold.it/1200x400" />
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div>
      </div>
	  
	  <ul class="thumbnails">
		<li class="span3">
			<div class="thumbnail">
				<a href="#"><img src="http://placehold.it/300x200" alt="" /></a>
				<h4>Item Label</h4>
			</div><!-- .thumbnail -->
		</li><!-- .span3 -->
		<li class="span3">
			<div class="thumbnail">
				<a href="#"><img src="http://placehold.it/300x200" alt="" /></a>
				<h4>Item Label</h4>
			</div><!-- .thumbnail -->
		</li><!-- .span3 -->
		<li class="span3">
			<div class="thumbnail">
				<a href="#"><img src="http://placehold.it/300x200" alt="" /></a>
				<h4>Item Label</h4>
			</div><!-- .thumbnail -->
		</li><!-- .span3 -->
		<li class="span3">
			<div class="thumbnail">
				<a href="#"><img src="http://placehold.it/300x200" alt="" /></a>
				<h4>Item Label</h4>
			</div><!-- .thumbnail -->
		</li><!-- .span3 -->
	  		<li class="span3">
			<div class="thumbnail">
				<a href="#"><img src="http://placehold.it/300x200" alt="" /></a>
				<h4>Item Label</h4>
			</div><!-- .thumbnail -->
		</li><!-- .span3 -->
		<li class="span3">
			<div class="thumbnail">
				<a href="#"><img src="http://placehold.it/300x200" alt="" /></a>
				<h4>Item Label</h4>
			</div><!-- .thumbnail -->
		</li><!-- .span3 -->
		<li class="span3">
			<div class="thumbnail">
				<a href="#"><img src="http://placehold.it/300x200" alt="" /></a>
				<h4>Item Label</h4>
			</div><!-- .thumbnail -->
		</li><!-- .span3 -->
		<li class="span3">
			<div class="thumbnail">
				<a href="#"><img src="http://placehold.it/300x200" alt="" /></a>
				<h4>Item Label</h4>
			</div><!-- .thumbnail -->
		</li><!-- .span3 -->
	  </ul>
{% endblock %}